.container{
    min-height: 100vh-35vh;
    background-image:url("/images/corp-fin-hero.png") ;
    background-repeat: no-repeat;
    background-size:cover;

    display: flex;
   // flex-direction: column-reverse;
   flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    border-bottom: 5px solid #94c93d;

    .wrapper{
        color: #fff;
        width: 85%;
        position: relative;
        .title{
            margin-top: 3em;
            font-weight:bolder;
            font-size: 4.5em;
        }

        .border{
            width: 15em;
            border-top: 5px solid #94c93d;
            padding-bottom: 4em;
        }
        .cta{
           display: flex;
           justify-content:flex-start;
           align-content: center;

           .button{
            border: 2px solid #fff;
            width: 280px;
            height:3em;
            display: flex;
            align-items: center;
            justify-content: center;
            .buttonText{
                font-size: 1.3em;
                font-weight: bolder;
            }
            &:hover{
                background-color: #94c93d;
                
                cursor: pointer;
                transition: all 0.5s ease;
                // .buttonText{
                //     color: white;
                // }
            }
            
        }
        }
    
    }
}