
.container{
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    
    .wrapper{
        width: 40%;
        

        .capital{
        
           margin: 3em 0 0 0;
            .item{
              
                .title{
                   
                    text-align: center;

                    color: #19204b;
                    font-size: 2.1em;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: bold;
                    .copy{
                        font-size: 0.6em;
                        vertical-align: top;
                    }
                }
                .desc{
                    color: #58595b;
                    font-size: 1.5em;
                    text-align: center
                }
            }


        }
    }
}
// @media screen and (max-width: 1200px){
//     .container{
//         .wrapper{
//             width: 95%;
//         }
        
//     }
    
// }
@media screen and (max-width: 1024px){
    .container{
        .wrapper{
            width: 95%;
        }
        
    }
    
}
@media screen and (max-width: 850px){
    .container{
        .wrapper{
            width: 95%;
        }
        
    }
    
}
@media screen and (max-width: 480px){
    .container{
        .wrapper{
            width: 95%;
        }
        
    }
}