.container{
    padding: 0;
    display: flex;

    //justify-content: space-evenly;
    padding: 0 100px;
    font-size: 1.3em;
    margin: 30px 0;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;

    .title{
        font-size: 2rem;
        margin: 0;
        color: #1a2148;//1a2148
        font-weight: 600;
    }
    .formArea{
        flex: 2;
        max-width: 700px;
        //width: 500px;
        //padding: 0 10px;
        // background-color: #e6e6e6;
        
        background-color: #e4e5e6;
        border-radius: 60px;
        //padding: 0.5em;
        //opacity:0;
        transition: all 1s ease-in;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        box-shadow: 10px 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            ;

        
    }
    .form{
        width: 500px;
       // width: 100%;
       // max-width: 500px;
        //min-width: none;
        height: 500px;
        padding: 50px 10px 0;
        display: flex;
        flex-wrap: wrap;

        .investorArea{
            width: 100%;
            height: 2em;
            display: flex;
            gap: 5px;
            align-items: center;
            .inputCheck{
                height: 25px;
                width: 25px;
            }
            
            
        }
        
        .inputS{
            flex: 1;
            height: 50px;
            padding-left: 10px;
            border: none;
            //margin: 0 5px;
            // display: flex;
            // justify-content: space-between;
            //width:10px;
            &:first-child{
                margin-right: 5px;
            }
        }
        .inputL{
            width: 100%;
            height: 50px;
            padding-left: 10px;
            border: none;
        }
        .textArea{
            width: 100%;
            padding-left: 10px;
            border: none;
            padding-top: 10px;
            font-family: Arial, Helvetica, sans-serif;
            margin-bottom: 1.5em;
        }
        .button{
            margin-top: 20px;
           // padding: 5px 10px;
            border: none;
           // border-radius: 10px;
            color:#19204b;
            background-color: #fff;
            width: 130px;
            height: 40px;
            font-size: 0.8em;
            cursor: pointer;
            font-weight: bold;
        
            
        }
    }
    .mapArea{
        flex: 2;
        display: flex;
        flex-direction: column;
        
       // position: absolute;
        height: 675px;
        //justify-content: right;
        position: relative;
        padding: 0 2%;
        
        .imageArea{
            height:375px;
            position:relative;
            
        }

        .contactInfo{
            margin-top: 2em;
            height: 200px;
            width: 70%;
            color: #19204b;
           // font-size: 2.1em;
            //font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
           
        }
    }

}

// @media screen and (max-width: 1200px){
//     .container
//     {
//             overflow: hidden;
//             flex-direction: column;
//             padding: 0 5px;
//             margin-bottom: 0;
//             width: 100%;
//             align-items: center
//             ;
//             .formArea{
//                 margin-bottom: 40px;
//                 border-radius: 0;
//                 width: 85%;
//                 display: flex;
//                 justify-content: center;
                
//             }
//             .form{
//                 width: 85%;
//                 .inputS{
//                     &:first-child{
//                         margin-right: 0;
//                     }
//                 }
//                 h3{
//                     font-size: 1em;
//                 }
//             }
//             .mapArea
//             {
//                     height: 100%;
//                 img{
//                     width: 100%;
//                     height: 450px;
//                 }
//                 .imageArea{
//                     height: 250px;
//                 }

//                 .contactInfo{
//                     height: fit-content;
//                     width: 95%;
//                 }
//             }
//     }
    
    
// }

@media screen and (max-width: 1024px){
    .container
    {
            overflow: hidden;
            flex-direction: column;
            padding: 0 5px;
            margin-bottom: 0;
            width: 100%;
           // justify-content: center;
            align-items: center
            ;
            .formArea{
                margin-bottom: 40px;
                border-radius: 0;
                width: 85%;
                display: flex;
                justify-content: center;
                
            }
            .form{
                width: 85%;
                // .inputS{
                //     &:first-child{
                //         margin-right: 0;
                //     }
                // }
                h3{
                    font-size: 1em;
                }
            }
            .mapArea
            {
                    height: 100%;
                img{
                    width: 100%;
                    height: 450px;
                }
                .imageArea{
                    height: 250px;
                }

                .contactInfo{
                    height: fit-content;
                    width: 95%;
                }
            }
    }
    
}
@media screen and (max-width: 850px){
    .container
    {
            overflow: hidden;
            flex-direction: column;
            padding: 0 5px;
            margin-bottom: 0;
            .formArea{
                margin-bottom: 40px;
                border-radius: 0;
                padding: 10px 0 0 0;
            }
            .form{
                width: 95%;
                .inputS{
                    // &:first-child{
                    //     margin-right: 0;
                    // }
                }
                h3{
                    font-size: 1em;
                }
            }
            .mapArea
            {
                    height: 100%;
                img{
                    width: 100%;
                    height: 450px;
                }
                .imageArea{
                    height: 250px;
                }

                .contactInfo{
                    height: fit-content;
                    width: 95%;
                }
            }
    }
    
}

@media screen and (max-width: 480px)
{
    .container
    {
            overflow: hidden;
            flex-direction: column;
            padding: 0 5px;
            margin-bottom: 0;
            .formArea{
                margin-bottom: 40px;
                border-radius: 0;
                padding: 5px 0;
            }
            .form{
                width: 95%;
                
                
                .inputS{
                    // display: flex;
                    // flex-direction: column;
                    // flex-wrap: nowrap;
                    &:first-child{
                        margin-right: 0;
                    }
                }
                h3{
                    font-size: 1em;
                }
            }
            .mapArea
            {
                    height: 100%;
                img{
                    width: 100%;
                    height: 250px;
                }
                .imageArea{
                    height: 250px;
                }

                .contactInfo{
                    height: fit-content;
                    width: 95%;
                }
            }
    }
}