.container{
    padding: 0;
    display: flex;

    justify-content: space-evenly;
    padding: 0 100px;
    font-size: 1.3em;
    margin: 30px 0;
    position: relative;

    .title{
        font-size: 2rem;
        margin: 0;
        color: #1a2148;//1a2148
        font-weight: 600;
    }
    .formArea{
        //width: 50%;
        // background-color: #e6e6e6;
        background-color: #e4e5e6;
        border-radius: 60px;
        padding: 0.5em;
        //opacity:0;
        transition: all 1s ease-in;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        box-shadow: 10px 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            ;

        
    }
    .form{
        width: 500px;
        height: 500px;
        padding: 50px 50px 0;
        display: flex;
        flex-wrap: wrap;

        .inputS{
            flex: 1;
            height: 50px;
            padding-left: 10px;
            border: none;
            margin: 0 10px;
            // &:first-child{
            //     margin-right: 5px;
            // }
        }
        .inputL{
            width: 100%;
            height: 50px;
            padding-left: 10px;
            border: none;
        }
        .textArea{
            width: 100%;
            padding-left: 10px;
            border: none;
            padding-top: 10px;
        }
        .button{
            margin-top: 20px;
           // padding: 5px 10px;
            border: none;
           // border-radius: 10px;
            color:#19204b;
            background-color: #fff;
            width: 130px;
            height: 40px;
            font-size: 0.8em;
            cursor: pointer;
            font-weight: bold;
        
            
        }
    }
    .mapArea{
    
        display: flex;
        flex-direction: column;
        
       // position: absolute;
        height: 675px;
        //justify-content: right;
        position: relative;
        .imageArea{
            height:375px;
            position:relative;
            
        }

        .contactInfo{
            margin-top: 2em;
            height: 200px;
            width: 70%;
            color: #19204b;
           // font-size: 2.1em;
            //font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
           
        }
    }

}