.container{
    height:60px;
    background-color: white;
    width: 100%;

    .disclosures{
        margin: 1em 0;
        text-align: center;
        .listItem{
            list-style: none;
            display: inline;
            font-size: 1.3em;
            margin: 20px;
            border-right: 1px solid #21254b;
            //background-color: yellow;
            padding-right: 2em;
            &:nth-last-child(1){
                
                border: none;
                
            }
        } 
        
    }
    
}
@media screen and (max-width: 1200px){
    .container{
       .disclosures{
        .listItem{
            font-size: 1em;
        }
       }
    }
    
}
@media screen and (max-width: 1024px){
    .container{
        color:yellow
    }
    
}
@media screen and (max-width: 850px){
    .container{
        color:black
        
    }
    
}
@media screen and (max-width: 480px){
    .container{
       // height:60px;
        background-color: white;
        width: 100%;
    
        .disclosures{
            //margin: 1em 0;
           // text-align: center;
           margin: 0;
           padding: 0;
           .disclaimer{
            padding: 0;
            width: 100%;
           }
            .listItem{
                list-style: none;
                display: inline;
                
                font-size: 15px;
                margin: 5px;
                border-right: 1px solid #21254b;
                //flex-wrap: nowrap;
                //background-color: yellow;
                //padding-right: 5px;
                &:nth-last-child(1){
                    
                    border: none;
                    
                }
            } 
            
        }
        
    }
}