.container{
   min-height: 100vh-35vh;
    background-image:url("/images/hero6.png") ;
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content:space-evenly;
    border-bottom: 5px solid #94c93d;

    
    .wrapper{
        width: 85%;
        padding-top: 10%;
        display: flex;
        flex-direction: column;
        align-items:flex-start;

        .title{
            font-weight:bolder;
            font-size: 4.5em;
            .copy{
                font-size: 0.5em;
                //color: red;
                vertical-align: top;
                 
            }
        }

        .cta{
           display: flex;
           justify-content:flex-start;
           align-content: center;
           align-items: center;
           margin: 0;
        }
        .desc{
            width: 40%;
            font-size: 1.8em;
            font-weight: bold;
            border-left: 5px solid #94c93d;
            padding-left: 0.5em;

        }
        .button{
            margin-top: 5%;
            margin-left: 1em;
            color: #fff;
            border: 2px solid #fff;
            width: 200px;
            height:2.5em;
            display: flex;
            align-items: center;
            justify-content: center;
            .buttonText{

                font-size: 1.4em;
                font-weight: bolder;
                color: #fff;
            }
            &:hover{
                background-color: #94c93d;
                cursor: pointer;
                transition: all 0.5s ease;
            }
            
        }
    }
        
    
}

@media screen and (max-width: 1200px){
    .container{
     //  color: #94c93d;
        .wrapper{
            .title{
                font-size: 3em;
            }
            .cta{
                justify-content: space-between;
            //    align-items: center;
            }
            .desc{
                width: 60%;
            }
            
        }

    }
    
}
// @media screen and (max-width: 1024px){
//     .container{
//         color:yellow

        
//     }
    
// }
@media screen and (max-width: 850px){
    .container{
        color:white;
        min-height: 400px;
        .wrapper{
            .title{
                font-size: 2em;
            }
            // .cta{
            //   //  justify-content: space-between;
            // //    align-items: center;
            // }
            .desc{
                width: 60%;
                font-size: 1.2em;
            }
            .button{
                width: 125px;
                height:2em;
                .buttonText{
                    font-size: 1.1em;
                }
                
            }
            
        }
    }
    
}
@media screen and (max-width: 480px){
    .container{
        color:white;
        min-height: 300px;
        .wrapper{
            .title{
                font-size: 1.5em;
            }
            .cta{
                flex-direction: column;
               justify-content: space-between;
               align-items: center;
            }
            .desc{
                width: 100%;
                font-size: 1em;
            }
            .button{
                width: 125px;
                height:2em;
                .buttonText{
                    font-size: 1em;
                }
                
            }
            
        }
    }
}