.container{
    height:550px;
    // background-image: url("/images/mountains.png");
    background-image:url("/images/layers.png") ;
    background-repeat: no-repeat;
    background-size:cover;
    color: #fff;

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 50px;

    .wrapper{
        width: 85%;
        display: flex;
        justify-content: space-around;
        justify-content: center;
        align-items:center;

        .brokerCheck{
            //border-top: 1px solid #a4c74c;
            //width: 90%;
            font-size: 0.5em;
            font-weight: normal;
        }
        .brokerBorder{
            border-bottom: 5px solid #a4c74c;
            color: #59595b;
            // height: 5px;
             width: 35%;
           //  margin: 0 30%;
            // background-color: #a4c74c;
        }
       .lRail{
        flex: 2;
        font-size: 45px;
        

        text-align:left;
        font-weight: bold;
        font-weight: 1000;
        color: #21254b;
        line-height: 0.5em;
        //letter-spacing: 0.2em;
        
        .aia{
            color: #a4c74c;
        }
       }
       .rRail{
        flex:3;
        
       }
    }
    

    .title{
        color: #19204b;
        width: 70%;
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: bold;
        border-bottom: 3px solid #94c93d;
        padding-bottom: 0.7em;
        margin-bottom: 0.7em;


    }
    .desc{
        display: flex;
        flex-direction: column;
        //justify-content: space-around;
        color: #58595b;
        font-size: 20px;
        width: 65%;
        
        margin-bottom: 1.4em;
        .reg{
            color:#59595b;
            font-weight: bold;
            .copy{
                font-size: 0.6em;
                vertical-align: top;
            }
        }
    }
    .button{
        background-color: #19204b;
        color: #fff;
        width: 200px;
        height:3em;
        display: flex;
        align-items: center;
        justify-content: center;
        .buttonText{
            font-size: 20px;
            font-weight: bold;
        }
        margin-bottom: 1.2em;
        &:hover{
            background-color: #94c93d;
            
            cursor: pointer;
            transition: all 0.5s ease;
            .buttonText{
                color: white;
            }
        }
    }
}
@media screen and (max-width: 1200px){
    .container{
        padding-top: 20px;
    padding-bottom: 30px;
       color: #94c93d;
       .title{
        width: 90%;
        font-size: 35px;
       }
       .desc{
        width: 90%;
       }
    }
    
}
// @media screen and (max-width: 1024px){
//     .container{
//         color:yellow
//     }
    
// }
// @media screen and (max-width: 850px){
//     .container{
//         color:black
        
//     }
    
// }
@media screen and (max-width: 480px){
    .container{
        height: 800px;
        padding: 0;
        margin-top: 5px;
        .wrapper{
            flex-direction: column;
        
        .title{
            font-size: 30px;
        }
        .lRail{
            font-size: 30px;
           // width: 100%;
            
        }
        .desc{
            width: 100%;
        }
        .button{
            height: 2.5em;
        }
        
        
        }
        
    }
}