.container{
    height:550px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3.5em 0;
    position: relative;
    .wrapper{
        width: 85%;
        display: flex;
        justify-content: center;
        align-items:center;
       align-content: center;
       
    }

    img{
        align-items: center;
        justify-content: center;
        margin-right: 90px;
    }

    .title{
        color: #19204b;
        width: 80%;
        font-size: 45px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: bold;
        border-bottom: 3px solid #94c93d;
        padding-bottom: 1em;
        margin-bottom: 1em;


    }
    .desc{
        color: #58595b;
        font-size: 25px;
        width: 85%;
        margin-bottom: 2.3em;
    }
    .button{
        background-color: #19204b;
        color: #fff;
        width: 200px;
        height:3em;
        display: flex;
        align-items: center;
        justify-content: center;
        .buttonText{
            font-size: 20px;
            font-weight: bold;
        }
        margin-bottom: 1.2em;
        &:hover{
            background-color: #94c93d;
            cursor: pointer;
            transition: all 0.5s ease;
        }
    }
    
    
}
@media screen and (max-width: 1200px){
    .container{
       //background-color: #94c93d;

       .wrapper{
        width: 95%;
       
        .title{
            width: 90%;
            font-size: 25px;
            margin-bottom: 0;

        }
        .desc{
            width: 90%;
            font-size: 23px;
        }
        .button{
            height: 2.5em;
            width: 170px;
            .buttonText{
                font-size: 18px;
            }
        }

    }
    }
    
}

// @media screen and (max-width: 1024px){
//     .container{
//         color:yellow
//     }
    
// }
// @media screen and (max-width: 850px){
//     .container{
//         color:black
        
//     }
    
// }

@media screen and (max-width: 480px){
    .container{
        color:purple;
        display: flex;
        flex-direction: column;

        margin: 0;
        height: 500px;
        
        .wrapper{
            display: flex;
        flex-direction: column;

        .image{
            display: none;
            //height: 200px;
            padding: 0;
            margin: 0;

        }
        .title{
            font-size: 30px;
        }
        .desc{
            font-size: 20px;
        }
        


        }

        
    }
}