.container{


.hero{
    // height:400px;
    min-height: 100vh-35vh;
    //min-height: 100vh-60vh;
    padding: 0;
    background-image:url("/images/services-hero-v2.png") ;
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    border-bottom: 5px solid #94c93d;


    .wrapper{
        padding: 120px 145px 0px;

        .title{
            font-weight: bold;
            font-size: 3em;
        }

        .border{
            border-top: 5px solid #94c93d;
            width: 20%;
           padding-bottom: 2.5em;

        }
        
        .button{
           border: 2.5px solid #fff;
            color: #fff;
            width: 25%;
            height:2.5em;
            display: flex;
            align-items: center;
            justify-content: center;
            .buttonText{
                font-size: 16px;
                font-weight: bold;
            }
            &:hover{
                background-color: #94c93d;
                
                cursor: pointer;
                transition: all 0.5s ease;
                // .buttonText{
                //     color: white;
                // }
            }
        }
    }
}
.capital{
    padding: 2em 0 2em 9em;
    max-width: 87%;

    .item{
        border-left: 5px solid #94c93d;
        padding-left: 1em;
        .title{
            color: #19204b;
            font-size: 2.1em;
            font-family: Arial, Helvetica, sans-serif;
            font-size: bold;
        }
        // .border{
        //     border-left: 3px solid #94c93d;
            
    
        // }
        .desc{
            color: #58595b;
            font-size: 1.5em;
            width: 90%;
        }
    }
}
.services{
    //background-color: #f6f6f6;
   margin-bottom: 2rem;
    .cards{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        padding: 1em 0px;
        
        .card{
            display:flex;
            flex-direction: column;
            max-width: 42%;
            background-color: #E6E6E6;
            .titleSection{

                 background-color: #19204b;
                display: flex;
                flex-direction: column;
                .head{
                    display: flex;
                    flex-direction: row;
                    align-items:flex-start;
                    align-items: center;
                    padding-left: 1rem;
                }
                
                .title{
                    padding-left: 0.5em;
                    font-size: 1.9rem;
                    color: #fff;
                    padding: 1rem 0 0 1rem;
                    letter-spacing:0.05cm;
                    
                }
             //  border-bottom: 3px solid #94c93d;
                .border{
                    height: 3px;
                    background-color: #94c93d;
                    width: 95%;
                    margin-bottom: 1.5rem;
                    margin-left: 1rem;
                    //margin-right: 1rem;
                }
                
                
            }
            .desc{
                color: #58595b;
                font-size: 1.2em;
                padding: 1rem 1rem 0 1rem;
            }
            .cta{
                display: flex;
                flex-direction: row;
                font-weight: bold;
                font-size: 1.2em;
                padding: 0 1rem;
                .ctaLabel{
                    //padding-left: 3em;
                    padding-right: 0.5em;
                    color: #19204b;
                }
                .symbol{
                    color: #94c93d;
                }
                
            }
            
        }
        
    }
}
// .servicesPlus{
//     //background-color: #fff;
   
//     .cards{
//         display: flex;
//         flex-direction: row;
//         justify-content:space-evenly;
//         padding: 1em 0px;
        
//         .card{
//             display:flex;
//             flex-direction: column;
//             max-width: 30%;
            
//             padding: 0 1em;
//             .titleSection{
//                 display: flex;
//                 flex-direction: row;
//                  align-items:flex-start;
                
                
//                 .title{
//                     padding-left: 0.5em;
//                     font-size: 1.4em;
                    
//                 }
//                 border-bottom: 3px solid #94c93d;
                
//             }
//             .desc{
//                 color: #58595b;
//                 font-size: 1.2em;
//             }
//             .cta{
//                 display: flex;
//                 flex-direction: row;
//                 font-weight: bold;
//                 font-size: 1.2em;
//                 .ctaLabel{
//                     //padding-left: 3em;
//                     padding-right: 0.5em;
//                     color: #19204b;
//                 }
//                 .symbol{
//                     color: #94c93d;
//                 }
                
//             }
            
//         }
        
//     }
// }
// .servicesDL{
//     background-color: #f6f6f6;
   
//     .cards{
//         display: flex;
//         flex-direction: row;
//         justify-content:space-evenly;
//         padding: 1em 0px;
        
//         .card{
//             display:flex;
//             flex-direction: column;
//             max-width: 30%;
            
//             padding: 0 1em;
//             .titleSection{
//                 display: flex;
//                 flex-direction: row;
//                  align-items:flex-start;
                
                
//                 .title{
//                     padding-left: 0.5em;
//                     font-size: 1.4em;
                    
//                 }
//                 border-bottom: 3px solid #94c93d;
                
//             }
//             .desc{
//                 color: #58595b;
//                 font-size: 1.2em;
//             }
//             .cta{
//                 display: flex;
//                 flex-direction: row;
//                 font-weight: bold;
//                 font-size: 1.2em;
//                 .ctaLabel{
//                     //padding-left: 3em;
//                     padding-right: 0.5em;
//                     color: #19204b;
//                 }
//                 .symbol{
//                     color: #94c93d;
//                 }
                
//             }
            
//         }
        
//     }
// }

.decades{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #e6e7e8;
    margin-top: 4rem;
    .product{
        
        display:flex;
        flex-direction: column;
        //max-width: 30%;
        
        
        padding: 1em 0 0 2.5em;
        .titleSection{
            display: flex;
            flex-direction: row;
             align-items:flex-start;
            
            
            .title{
                padding-left: 0.5em;
                font-size: 2em;
                
            }
            border-bottom: 3px solid #94c93d;
            
        }
        .desc{
            color: #58595b;
            font-size: 1.2em;
        }
        .cta{
            display: flex;
            flex-direction: row;
            font-weight: bold;
            font-size: 1.3em;
            width: 40%;
            height:3em;
            display: flex;
            align-items: center;
            //justify-content: center;
            
            .ctaLabel{
                padding: 0.5em 1em;
                color: #19204b;
                background-color: #fff;

                &:hover{
                    background-color: #94c93d;
                    
                    cursor: pointer;
                    transition: all 0.5s ease;
                    color: #fff;
                    
                }

            }
            .symbol{
                color: #94c93d;
            }
            
        }
        
    }
}
.newsletter{
    //background-color: yellow;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
    padding: 3em;
    
    .iconSection{
            
        position: relative;
        .icon{
            position: absolute;
            top:-2.5em;
            right: -1.5em;
        }
    }


    .box{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #94c93d;
        padding: 0.5em 2em;


       
        .titleSection{
            flex: 3;
            .title{
                   padding-left: 0.5em;
                   font-size: 1.4em;
                   //background-color: yellow;
               }
        }
        
        .emailSection{
            padding: 0 0 0 0.5em;
            width: 20%;
            flex: 2;

            
            .emailField{
                   border: 1px solid #19204b;
                   height:2em;
                   display: flex;
                   justify-content: flex-start;
                   align-items: center;
                   padding-left: 1em;
                   color:#58595b;   
               }  
        }
        
        .signUpSection{
            padding: 0 0 0 0.5em;
            width: 15%;
            flex:1;
            .signUp{
                   display: flex;
                   flex-direction: row;
                   align-items: center;
                   justify-content: center;
                   background-color: #19204b;
                   color:#fff;
                   font-size: 1em;
               }
        }
    }
}
    
}